<div class="section">
  <%= link_to root_path, data: { turbo_method: :get } do %>
    <i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i>
  <% end %>
  <hr>
  <h2>Index</h2>
</div>

<%= cl_image_tag("esfejomrvlfznyxkqiyk",
      width: 400, height: 300, crop: :fill) %>

<div class="container">
  <h1>Reste à faire : </h1>
  <div class="container container-index">

    <% @incomplete_tasks.each do |task| %>
      <div class="card text-center card-index">
        <div class="card-header">
          <%= link_to task.title, task_path(task) %>
        </div>
        <div class="card-body">
          <%= task.description %>
        </div>
      </div>
    <% end %>

    <%= link_to new_task_path do%>
    add a new task <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </div>
</div>

<div class="container">
  <h1>Déjà fait : </h1>
  <div class="container container-index">
    <% @completed_tasks.each do |task| %>
      <div class="card text-center card-index">
        <div class="card-header">
          <%= link_to task.title, task_path(task) %>
        </div>
        <div class="card-body">
          <p><%= task.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
